﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<textarea>
@ViewBag.outXML
</textarea>



<div id="MoipWidget" 
            data-token="@ViewBag.token"
            callback-method-success="funcao_sucesso" 
            callback-method-error="funcao_falha"></div>
